name: build test

on:
  workflow_dispatch:
  pull_request:

jobs:
  build:
    name: build
    runs-on: ubuntu-20.04
    timeout-minutes: 120
    strategy:
      fail-fast: false
    env:
      ROS_DISTRO: foxy
    container:
      image: rostooling/setup-ros-docker:ubuntu-focal-ros-foxy-ros-base-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dependencies of choreonoid
        run: |
          apt-get -y install \
          build-essential \
          cmake-curses-gui \
          libboost-dev \
          libboost-system-dev \
          libboost-program-options-dev \
          libboost-iostreams-dev \
          libboost-filesystem-dev \
          libeigen3-dev \
          uuid-dev \
          libxfixes-dev \
          libyaml-dev \
          libfmt-dev \
          gettext \
          zlib1g-dev \
          libjpeg-dev \
          libpng-dev \
          qt5-default \
          libqt5x11extras5-dev \
          libqt5svg5-dev \
          qttranslations5-l10n \
          python3-dev \
          python3-numpy \
          libassimp-dev \
          libode-dev \
          libfcl-dev \
          libpulse-dev \
          libsndfile1-dev \
          libgstreamer1.0-dev \
          libgstreamer-plugins-base1.0-dev

      - name: Run build test
        uses: ros-tooling/action-ros-ci@v0.2
        with:
          package-name: ${{ steps.list_packages.outputs.package_list }}
          target-ros2-distro: foxy
          vcs-repo-file-url: dependency.repos
          extra-cmake-args: -DWITH_INTEGRATION_TEST=ON
          colcon-defaults: |
            {
              "build": {
                "mixin": ["coverage-gcc", "coverage-pytest"]
              },
              "test": {
                "mixin": ["coverage-pytest"]
              }
            }
          # If possible, pin the repository in the workflow to a specific commit to avoid
          # changes in colcon-mixin-repository from breaking your tests.
          colcon-mixin-repository: https://raw.githubusercontent.com/colcon/colcon-mixin-repository/1ddb69bedfd1f04c2f000e95452f7c24a4d6176b/index.yaml
